input[type="checkbox"] {
    cursor: pointer;
    height: 16px;
    width: 16px;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    min-height: 50px;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--txt-color);
    margin: 10px;
}

.leftContainer {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 8px;
    width: 180px;
    overflow: hidden;
}

.rightContainer {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 8px;
}

.icon {
    cursor: pointer;
    user-select: none;
}

.blur {
    opacity: 0.5;
}